<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    {% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    {% endblock %}
    <title>{% block title %}Texas is the Last Best Hope for Man{% endblock %}</title>
  </head>
  <body>
    <div id="master">
    {% block body %}
    {% endblock %}
    </div>
    <script src="{{url_for("static", filename="js/require.js")}}"></script>
    <script src="{{url_for("static", filename="js/date.js")}}"></script>
  </body>
</html>
